---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=d58869da&app_key=8a45b6314439cc9faccc3915cb7c43ed&q=Falkland%20Islands&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sat, 11 Nov 2023 20:53:23 GMT
recorded_with: VCR 6.2.0
